body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 50px;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#333;
  color: white;
  text-align: center;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.small_container {
  margin-top: 10px;
}

a {
  margin-top: 10px;
  color: white;
  background-color: #4CAF50;
  padding: 10px 10px;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
