body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 50px;
  }

  .container {
    overflow: hidden;
    background-color: #333;
  }
  .dropb-ul{
      padding: 0;
  }
  .container h1 {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 30px;
  }

  .dropdown .dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .container a:hover, .dropdown:hover .dropbutton {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .description{
      margin: 10px;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
  }

  .error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1, .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close2:hover,
.close1:focus,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-content {
  background-color: white;
  padding: 10px;
}

.nextButton, input[type=button], input[type=submit], #learingModalButton, #testingModalButton {
  background-color: #4CAF50;
  color: white;
  padding: 7px 5px;
  border: none;
  cursor: pointer;
  /* width: 10%; */
}

#learingModalButton, #testingModalButton {
  margin-left: 8px;
  margin-bottom: 4px;
}

h4{
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 2px;
}

select {
  margin-left: 8px;
}
